# Data files (ignore actual data, but track .dvc files)
data/**/*.csv
data/**/*.xls
data/**/*.xlsx
!data/**/*.dvc

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# MLflow
mlruns/

# DVC
!.dvc
.dvc/cache
